* { max-height: 1000000px; }
body {
	min-width:1200px;
	font:300 16px/24px 'lexia', Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: none;
}
img { border-style: none; }
a {
	color:#000;
	text-decoration: none;
}
a:focus { text-decoration:none; }
q, blockquote, q:before, q:after { quotes:none; }
a:hover { text-decoration: underline; }
a:active { background-color: transparent; }
input,
textarea,
select {
	font: 16px/24px 'lexia', Arial, Helvetica, sans-serif;
	vertical-align: middle;
	color: #000;
}
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}
h1, h2, h3 { font-weight:bold; }
input[type=text],
input[type=email],
input[type=checkbox],
input[type=password],
input[type=file],
input[type=submit],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	border-radius: 0 !important;
}
@-ms-viewport { width: device-width; }
@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
/* placeholder input styles */
.form-control::-webkit-input-placeholder { color: #8a8a8a; }
.form-control:-moz-placeholder { color: #8a8a8a; }
.form-control::-moz-placeholder {
	color: #8a8a8a;
	opacity: 1;
}
.form-control:-ms-input-placeholder { color: #8a8a8a; }
.form-control.error::-webkit-input-placeholder { color: #700515; }
.form-control.error:-moz-placeholder { color: #700515; }
.form-control.error::-moz-placeholder { color: #700515; }
.form-control.error:-ms-input-placeholder { color: #700515; }
h1 {
	margin:0 auto;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
h2 {
	color:#555;
	margin:0 0 10px;
	letter-spacing:8.3px;
	text-transform:uppercase;
	font:24px/40px 'Sanchez', Arial, Helvetica, sans-serif;
}
#wrapper {
	overflow:hidden;
	position:relative;
}
#header {
	overflow:hidden;
	position:relative;
}
.visual {
	overflow:hidden;
	position:relative;
}
.visual .overlay{
	background: #000;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
.visual .overlay.active{
	z-index: 3;
}
.visual > img {
	z-index: 1;
}
.visual .logo-box {
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
    display: none;
	text-align:center;
	z-index: 2;
}
.visual .logo-box .holder {
	display:table;
	width:100%;
	height:100%;
}
.visual .logo-box .frame {
	width:100%;
	height:100%;
	display:table-cell;
	vertical-align:middle;
}
.visual .logo-box .logo {
	width:959px;
	height:410px;
	float:none;
	position:relative;
	left:7px;
	margin:0 0 47px;
	display:inline-block;
	vertical-align:middle;
	padding:85px 101px 117px 89px;
}


.logo {
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/logos.png) no-repeat;
}
.logo a {
	display:block;
	height:100%;
}
.mast-logo {  /* extended logo object dedicated to the central navigation strip ;*/
	background:url(../images/58-washington-logo@2x.png) no-repeat transparent;
    background-size: cover;
}

.menu {
	left: 0;
	overflow:hidden;
	background:#ddd9d2;
	position: static;
	top: 0;
	width: 100%;
	z-index: 100;
}
.navigation {
	overflow:hidden;
	font-size:13px;
	line-height:20px;
	font-weight:800;
	position:relative;
	letter-spacing:2px;
    padding: 49px 5px 48px;
	text-transform:uppercase;
}
.navbar-toggle {
	background:#000;
	margin:0;
	position:absolute;
	top:20px;
	right:0;
    border-radius: 0;
}
.navbar-toggle .icon-bar { background:#fff; }
.navbar-collapse { padding:0; }
.navigation ul:first-child { float:left; }
.navigation ul {
	float:right;
	list-style:none;
	padding:0;
	margin:0;
	max-width:440px;
}
.navigation ul li {
	float:left;
	position:relative;
	padding:0 17px 0 26px;
}
.navigation ul:first-child li { padding:0 31px 0 12px; }
.navigation ul li:first-child:before { display:none; }
.navigation ul li:before {
	position:absolute;
	left:2px;
	top:50%;
	width:5px;
	height:2px;
	content:'';
	background:#fff;
}
.navigation ul:first-child li:before { left:-12px; }
.navigation ul li a {
	color:#646363;
	display:block;
}
.navigation ul li.active a:hover,
.navigation ul li.active a { color:#fff; }
.navigation ul li a:hover {
	color:#000;
	text-decoration:none;
}
.navigation .logo {
	position:absolute;
	width:260px;
	height:71px;
	left:50%;
	top:23px;
	margin:0 0 0 -130px;

	/*background-position: 0 -420px;*/
}
#main { overflow:hidden; }
.img-box {
	position:relative;
	overflow:hidden;
}
.img-box img {
	display:block;
	width:100%;
	height:auto;
}
.img-box .caption {
	position:absolute;
	left:10px;
	right:10px;
	top:10px;
	bottom:10px;
	z-index:1;
	text-align:center;
}
.img-box .caption .holder {
	display:table;
	width:100%;
	height:100%;
}
.img-box .caption .frame {
	display:table-cell;
	vertical-align:middle;
	width:100%;
	height:100%;
}
#main .intro {
	max-width:710px;
	margin:0 auto;
	text-align:center;
	letter-spacing:0.1px;
	padding:112px 0 82px;
}
#main .intro h1 {
	color:#555;
	text-indent:0;
	margin:0 0 11px 9px;
	letter-spacing:8.3px;
	text-transform:uppercase;
	font:24px/40px 'Sanchez', Arial, Helvetica, sans-serif;
}
#main .intro p { margin:0 0 35px; }
#main .intro img {
	display:block;
	width:100%;
	height:auto;
	margin:0 0 39px;
}
#main .intro .textbox {
	overflow:hidden;
	padding:0 8% 20px;
}
#main .intro .quote-text {
	display:block;
	margin:0 0 12px;
}
#main .intro .textbox p { margin:0 0 37px; }
#main .intro .register {
	color:#9b9b9b;
	font-size:15px;
	font-weight:700;
	position:relative;
	border:solid 2px #a6a6a6;
	display:inline-block;
	vertical-align:top;
	letter-spacing:1.5px;
	padding:11px 22px 12px;
	text-transform:uppercase;
	box-shadow:inset 0 0 0 1px #afaeab;
	-webkit-box-shadow:inset 0 0 0 1px #afaeab;
}
#main .intro .register:after {
	position:absolute;
	left:50%;
	bottom:-14px;
	width:25px;
	height:15px;
	content:'';
	margin:0 0 0 -13px;
	background:url(../images/arrow.png) no-repeat;
}
#main .intro .register:hover {
	color:#000;
	text-decoration:none;
	border-color:#000;
}
#main .intro .register:hover:after { background-position:0 -25px; }
#main .residences {
	line-height:25px;
	overflow:hidden;
	padding:0 0 26px;
	background:#e6e4de;
}
#main .residences h1 {
	width:833px;
	height:153px;
	position:relative;
	top:3px;
	left:4px;
	background:url(../images/txt-headings.png) no-repeat;
}
.residences .block:first-child {
	border:0;
	padding:65px 9999px 55px;
}
.residences .block {
	overflow:hidden;
	margin:0 -9999px;
	padding:38px 9999px 58px;
	border-top:solid 1px #d5d4d1;
}
.residences .block p { margin:0 0 39px; }
.head {
	overflow:hidden;
	max-width:771px;
	margin:0 auto;
	position:relative;
	right:-1px;
	text-align:center;
}
.slideshow {
	overflow:hidden;
	position:relative;
	max-width:1066px;
	margin:0 auto;
	padding:0 48px;
}
.slideshow .slideset {
	width:100%;
	position:relative;
}
.slideshow .slide {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	right:0;
}
.slideshow .slide.active { z-index: 2; }
.slideshow img {
	display:block;
	width:100%;
	height:auto;
}
.slideshow .switcher {
	position:absolute;
	left:60px;
	right:60px;
	bottom:12px;
	z-index:3;
	text-align:center;
}
.slideshow .switcher ul {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
}
.slideshow .switcher li {
	float:left;
	margin:0 9px;
}
.slideshow .switcher li a {
	display:block;
	width:10px;
	height:10px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat -56px 0;
}
.slideshow .switcher li a:hover { background-position: -56px -20px; }
.slideshow .switcher li.active a { background-position: -76px 0; }
.slideshow .btn-prev,
.slideshow .btn-next {
	position:absolute;
	left:0;
	top:50%;
	width:18px;
	height:30px;
	content:'';
	margin:-15px 0 0;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat;
}
.slideshow .btn-next {
	left:auto;
	right:0;
	background-position: -28px 0;
}
.slideshow .btn-prev:hover { background-position:0 -40px; }
.slideshow .btn-next:hover { background-position:-28px -40px; }
#main .locations {
	overflow:hidden;
	margin:0 0 82px;
}
#main .locations h1 {
	width:747px;
	height:153px;
	position:relative;
	top:8px;
	left:4px;
	background:url(../images/txt-headings.png) no-repeat 0 -163px;
}
#main .locations .container img {
	display:block;
	width:100%;
	height:auto;
}
#main .locations .head {
	max-width:640px;
	padding:58px 0 25px;
}
#main .locations .text {
	display:block;
	margin:0 0 24px;
}
#main .team {
	overflow:hidden;
	text-align:center;
	background:#e6e4de;
}
#main .team h1 {
	width:513px;
	height:153px;
	position:relative;
	top:9px;
	right:9px;
	background:url(../images/txt-headings.png) no-repeat 0 -326px;
}
#main .team h2 { margin-bottom:19px }
#main .team .block:first-child h2 { margin-bottom:14px; }
#main .team .block:first-child {
	border:0;
	padding:63px 9999px 59px;
}
#main .team .block {
	overflow:hidden;
	margin:0 -9999px;
	border-top:solid 1px #d5d4d1;
	padding:43px 9999px 66px;
}
#main .team .textbox {
	max-width:632px;
	margin:0 auto;
}
#main .team p { margin:0 0 18px; }
#main .team a {
	color:#7d7d7d;
	font-weight:bold;
}
#main .team a:hover {
	color:#000;
	text-decoration:none;
}
#main .floors {
	overflow:hidden;
	text-align:center;
	margin:0 0 82px;
}
#main .floors h1 {
	width:871px;
	height:153px;
	position:relative;
	top:8px;
	left:6px;
	background:url(../images/txt-headings.png) no-repeat 0 -489px;
}
.floor-slider {
	position:relative;
	overflow:hidden;
	padding:156px 100px 50px;
}
.floor-slider .north-sign {
	position:absolute;
	z-index:10;
	left:100px;
	top:183px;
	width:42px;
	height:26px;
	content:'';
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat -48px -40px;
}
.floor-slider .slideset { position:relative; }
.floor-slider .slide {
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	text-align:center;
}
.floor-slider .slide.active { z-index: 2; }
.floor-slider .slide img {
	display:block;
	width:100%;
	height:auto;
}
.floor-slider .slide .title {
	display:block;
	color:#646464;
	margin:0 0 3px;
	font-weight:700;
}
.floor-slider .slide .subhead {
	display:block;
    margin: 0 0 42px;
	font-weight:normal;
}
.floor-slider .slide ul {
	list-style:none;
	padding:0;
	margin:0 0 40px;
	font-size:16px;
	line-height:26px;
	display:inline-block;
	vertical-align:top;
}
.floor-slider .slide ul li {
	float:left;
	position:relative;
	padding:0 7px 0 15px;
}
.floor-slider .slide ul li:first-child:before { display:none; }
.floor-slider .slide ul li:before {
	position:absolute;
	left:2px;
	top:50%;
	width:5px;
	height:2px;
	content:'';
	background:#d9d9d9;
}
.floor-slider .btn-prev,
.floor-slider .btn-next {
	position:absolute;
	left:54px;
	top:50%;
	width:18px;
	height:30px;
	content:'';
	margin:46px 0 0;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat;
}
.floor-slider .btn-next {
	left:auto;
	right:49px;
	background-position: -28px 0;
}
.floor-slider .btn-prev:hover { background-position:0 -40px; }
.floor-slider .btn-next:hover { background-position:-28px -40px; }
.floor-slider .switcher.add {
	left:0;
	right:0;
	top:auto;
	bottom:10px;
	height:10px;
}
.floor-slider .switcher.add li {
	float:left;
	padding:0 9px;
}
.floor-slider .switcher.add a {
	display:block;
	width:10px;
	height:10px;
	overflow:hidden;
	text-indent:-9999px;
	background:url(../images/sprite.png) no-repeat -56px 0;
}
.floor-slider .switcher.add li a:hover { background-position: -56px -20px; }
.floor-slider .switcher.add li.active a { background-position: -76px 0; }
.floor-slider .switcher.add li:before { display:none; }
.floor-slider .switcher {
	position:absolute;
	left:0;
	top:77px;
	right:0;
	z-index:4;
	text-align:center;
	letter-spacing:4.4px;
	text-transform:uppercase;
	font:18px/24px 'Sanchez', Arial, Helvetica, sans-serif;
}
.floor-slider .switcher ul {
	list-style:none;
	padding:0;
	margin:0;
	display:inline-block;
	vertical-align:top;
}
.floor-slider .switcher ul li {
	float:left;
	position:relative;
	padding:0 27px;
}
.floor-slider .switcher ul li:first-child:before { display:none; }
.floor-slider .switcher ul li:before {
	position:absolute;
	left:0;
	top:50%;
	width:5px;
	height:2px;
	content:'';
	background:#d9d9d9;
}
.floor-slider .switcher ul li a { color:#a6a6a6; }
.floor-slider .switcher ul li a:hover {
	color:#000;
	text-decoration:none;
}
.floor-slider .switcher ul li.active a { color:#646464; }
.btn {
	color:#9b9b9b;
	margin:0 auto;
	border-radius:0;
	position:relative;
	font-weight:700;
	vertical-align:top;
	display:inline-block;
	border:solid 2px #a6a6a6;
	letter-spacing:2.2px;
	text-transform:uppercase;
	padding:8px 52px 9px 30px;
	box-shadow:inset 0 0 0 1px #afaeab;
	-webkit-box-shadow:inset 0 0 0 1px #afaeab;
}
.btn:hover {
	color:#000;
	text-decoration:none;
	border-color:#000;
}
.btn:before {
	position:absolute;
	right:29px;
	top:50%;
	width:14px;
	height:8px;
	content:'';
	margin:-4px 0 0;
	background:url(../images/sprite.png) no-repeat -76px -30px;
}
.btn:hover:before { background-position: -76px -20px; }
#main .contact {
	overflow:hidden;
	text-align:center;
	background:#eeece9;
}
#main .contact h1 {
	width:513px;
	height:153px;
	position:relative;
	top:8px;
	left:6px;
	background:url(../images/txt-headings.png) no-repeat 0 -652px;
}
#main .contact h2 { margin-bottom:7px; }
#main .contact .block:first-child h2 { margin-bottom:18px; }
#main .contact .block:first-child {
	border:0;
	padding:46px 9999px 39px;
}
#main .contact .block {
	overflow:hidden;
	margin:0 -9999px;
	padding:49px 9999px 71px;
	border-top:solid 1px #d5d4d1;
}
#main .contact .contact-info {
	max-width:370px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
	left:3px;
}
.contact-info .title {
	display:block;
	font-weight:normal;
}
.contact-info .subhead {
	display:block;
	font-weight:normal;
	margin:0 0 24px;
}
.contact-info ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}
.contact-info ul li {
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0 -5px;
	padding:0 17px;
}
.contact-info ul li:first-child:before { display:none; }
.contact-info ul li:before {
	position:absolute;
	left:2px;
	top:50%;
	width:5px;
	height:2px;
	content:'';
	background:#7d7d7d;
}
.contact-info ul li a {
	cursor:text;
	color:#7d7d7d;
}
.contact-info ul li a:hover {
	opacity:1;
	color:#7d7d7d;
	text-decoration:none;
}
.contact-info .mail {
	display:block;
	margin:0 0 1px;
}
.contact-info .mail a {
	color:#7d7d7d;
	font-weight:normal;
}
.contact-info .mail a:hover { color:#000; }
.contact-info address { margin-bottom:35px; }
.contact-info .logo-marshall {
	display:block;
	margin:0 auto;
}
.contact-info .logo-marshall img { vertical-align:top; }
#main .contact .contact-form {
	max-width:770px;
	margin:0 auto;
	position:relative;
	left:3px;
}
.contact-form header {
	overflow:hidden;
	padding:0 12% 17px;
}
.contact-form .row { margin-bottom:22px; }
.contact-form .txt-thanks {
	color:#000;
	display:block;
	font-weight:normal;
}

.loading{
    width: 100%;
    height: 32px;
    background: url('../images/loading.gif') center center no-repeat;
}

.contact-form input[type=submit] {
	color:#9b9b9b;
	width:247px;
	display:block;
	background:#eeece9;
	margin:0 auto 19px;
	letter-spacing:1px;
	padding:14px 32px 13px;
	border:solid 2px #a6a6a6;
	text-transform:uppercase;
	box-shadow:inset 0 0 0 1px #afaeab;
	-webkit-box-shadow:inset 0 0 0 1px #afaeab;
	font:bold 16px/24px 'lexia', Arial, Helvetica, sans-serif;
}
.contact-form input[type=submit]:hover {
	color:#000;
	border-color:#000;
}
.form-control {
	border:0;
	color:#000;
	height:44px;
	font-size:16px;
	line-height:24px;
	margin:0 0 11px;
	border-radius:0;
	box-shadow:none;
	padding: 11px 15px;
	background:#e3e0da;
}
.form-control.error { color:#700515; }
textarea.form-control {
	resize:none;
	height:99px;
	padding:9px 15px;
}
#footer {
	background:#000;
	font-size:12px;
	line-height:18px;
	overflow:hidden;
	padding:32px 0 38px;
}
#footer a { color:#7d7d7d; }
#footer .logo {
	float:left;
	width:215px;
	height:55px;
	margin:0 2px;
	background-position: -270px -420px;
}
#footer .text { text-align:right; }
#footer .text ul {
	list-style:none;
	padding:0;
	letter-spacing:0.2px;
	margin:3px -9px -5px 0;
	display:inline-block;
	vertical-align:to;
}
#footer .text ul li {
	float:left;
	padding:0 9px;
	position:relative;
}
#footer .text ul li:first-child:before { display:none; }
#footer .text ul li:before {
	position:absolute;
	top:4px;
	bottom:4px;
	left:0;
	width:1px;
	content:'';
	background:#555;
}
#footer .text p span {
	display:block;
}

/* STATIC */

.static header{
    margin: 40px 0 60px 0;
}

.static p{
    padding: 0 0 20px 0;
}
body.thank-you-page .visual{display:none !important;}
body.thank-you-page .menu{top:0 !important;}
.success-message{
	margin:0 auto;
	max-width:710px;
	padding:170px 10px 30px;
	text-align:center;
	color:#555;
	letter-spacing:4px;
	font:24px/40px 'Sanchez', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
@media only screen and (max-width: 1200px) {
	body { min-width:320px; }
	.visual .logo-box .logo { left:0; }
	.navigation ul li { padding:0 7px 0 20px; }
	.navigation ul:first-child li { padding:0 20px 0 7px; }
	.navigation .logo {
		width:173px;
		height:47px;
		top:35px;
		margin:0 0 0 -80px;
	}
    .navigation {
        font-size:12px;
        font-weight: 500;
        letter-spacing:1.5px;
    }
	.floor-slider .switcher ul li { padding:0 20px; }
}
@media only screen and (max-width: 992px) {
	.navigation {
		font-size:11px;
		letter-spacing:1.5px;
	}

    .navigation .logo {
        width:150px;
        height:41px;
        top:38px;
        margin:0 0 0 -73px;
    }

	.navigation ul li { padding:0 0 0 14px; }
	.navigation ul:first-child li { padding:0 14px 0 0; }
	.visual .logo-box .logo {
		width:660px;
		height:300px;
		padding:60px 68px 82px 60px;
		background-position: 0 -539px;
	}
	.navigation ul:first-child li:before { left:-10px; }
	.floor-slider .switcher ul li { padding:0 0 0 14px; }
	#main .residences h1,
	#main .locations h1,
	#main .floors h1 {
		width:440px;
		height:90px;
		top:0;
		left:0;
		right:0;
	}
	#main .residences h1 { background-position:0 -815px; }
	#main .locations h1 { background-position:0 -915px; }
	#main .floors h1 { background-position:0 -1015px; }
	#main .team h1,
	#main .contact h1 {
		width:260px;
		height:80px;
		top:0;
		left:0;
		right:0;
	}
	#main .team h1 { background-position: -538px -326px; }
	#main .contact h1 { background-position: -538px -642px; }
}
@media only screen and (max-width: 767px) {

    .visual > img {
        z-index: 1;
        max-height: 510px;
    }

	.slideshow .btn-prev,
	.slideshow .btn-next,
	.floor-slider .btn-prev,
	.floor-slider .btn-next,
	.contact-info ul li:before,
	.navigation ul li:before,
	.floor-slider .switcher ul li:before { display:none; }
	.visual .logo-box .logo {
		width:300px;
		height:130px;
		margin:0 0 10px;
		padding:25px 32px 35px 27px;
		background-position:0 -849px;
	}

    .navigation {
        padding: 20px 5px 20px;
    }

	.navigation .logo {
		position:static;
		display:block;
		margin:0 auto;
	}
	.navigation ul,
	.navigation ul:first-child {
		float:none;
		max-width:none;
		overflow:hidden;
	}
	.navigation ul li,
	.navigation ul:first-child li {
		float:none;
		display:block;
		padding:5px 0;
	}
	.nav-holder { padding:20px 0 0; }
	.navbar-collapse {
		border:0;
		clear:both;
		text-align:center;
		box-shadow:none;
	}
	.head { right:0; }
	.img-box img {
		width:767px;
		position:relative;
		left:50%;
		min-height:200px;
		margin:0 0 0 -384px;
	}
	h2,
	#main .intro h1 {
		font-size:21px;
		line-height:30px;
		letter-spacing:4px;
	}

    #main .locations h1{
        width:240px;
        height:60px;

    }


    #main .residences h1,
	#main .floors h1 {
		width:280px;
		height:60px;
	}
	#main .residences h1 { background-position:-538px -815px; }
	#main .locations h1 { background-position:-538px -915px; }
	#main .floors h1 { background-position:-538px -1015px; }
	#main .team h1,
	#main .contact h1 {
		width:165px;
		height:45px;
	}
	#main .team h1 { background-position: -538px -416px; }
	#main .contact h1 { background-position: -538px -742px; }
	#main .intro h1 { margin:0 0 11px; }
	#main .intro header { padding:0 15px; }
	#main .intro .textbox { padding:0 15px 20px; }
	#main .floors { margin:0 0 20px; }
	.floor-slider { padding:20px 0; }
	.floor-slider .switcher.add { bottom:-10px;display: none }
	.floor-slider .switcher {
		clear:both;
		float:left;
		width:100%;
		top:0;
        margin:40px 0 0 0;
		font-size:14px;
		line-height:18px;
		position:relative;
	}

    .floor-slider .btn{
        margin-top: 10px;
    }

	.floor-slider .switcher ul li {
		float:none;
		display:block;
		padding:5px;
	}
	.floor-slider .slide .subhead { margin:0 0 20px; }
	.contact-form header { padding:0 0 17px; }
	.contact-info ul li {
		display:block;
		margin:0;
	}
	.slideshow { padding:0; }
	.slideshow .switcher { height:10px; }
	.slideshow .switcher li { margin:0 5px; }
	#footer .logo {
		float:none;
		display:block;
		margin:0 auto 20px;
	}
	#footer .text { text-align:center; }
	.form-control {
		font-size:13px;
		padding:10px;
	}
	.floor-slider .north-sign {
		left:0;
		top:15px;
	}
	.floor-slider .slide ul {
		font-size:14px;
		line-height:20px;
	}
	.floor-slider .slide ul li { padding:0 4px 0 12px; }
	.success-message{
		font-size:18px;
		line-height:30px;
		padding-top:115px;
		padding-bottom:15px;
		letter-spacing:2px;
	}
}